#wrapper {
	width: 100%;
}
#wrapper ul {
	width: 200px;
	padding-top: 40px;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
	list-style-type: none;
}
#wrapper ul li {
	margin-bottom: 8px;
	border: 1px solid #3E606F;
	border-radius: 3px;
	text-align: left;
	background-color: #3E606F;
	color: #fcfff5;
	cursor: pointer;
}
#wrapper ul li:hover {
	opacity: 0.5;
}
#wrapper ul li h4, #wrapper ul li h6 {
	padding-left: 10px;
}
#wrapper ul li h4 {
	padding-top: 10px;
	margin: 0;
}
#wrapper ul li h6 {
	margin-top: 4px;
	margin-bottom: 10px;
}


@media(min-width: 1024px) {
	#wrapper ul {
		width: 450px;
		padding-top: 120px;
	}
	#wrapper ul li h4 {
		padding-top: 15px;
		font-size: 22px;
	}
	#wrapper ul li h6 {
		padding-bottom: 15px;
		font-size: 15px;
	}
}