#credentials {
	width: 160px;
	padding-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
#credentials input {
	width: 160px;
	border: 1px solid #aaa;
	font-size: 14px;
	color: #777;
}
#credentials input:nth-child(3) {
	width: 164px;
	color: #ffffff;
	background-color: #024F40;
}